In [1]:
# lire le fichier csv
import pandas as pd
donnees=pd.read_csv("/home/souad/data-dev/correction-exo/python/PROJET-NETFLIX/netflix_titles.csv", index_col='show_id')
donnees.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [2]:
#Afficher les dimensions du dataframe
donnees.shape

(6234, 11)

In [3]:
#. Compter les films et les s√©ries
#donnees['type'].value_counts()
nbreMovies=donnees.loc[donnees['type']=='Movies'].type.value_counts()
print(nbreMovies)

Series([], Name: type, dtype: int64)

In [4]:
#G√©n√©rer le r√©sum√© statistique du dataframe
donnees.describe(include='all')

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,6234,6234,4265,5664,5758,6223,6234.00000,6224,6234,6234,6234
unique,2,6172,3301,5469,554,1524,NaN,14,201,461,6226
top,Movie,Love,"Ra√∫l Campos, Jan Suter",David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,Documentaries,A surly septuagenarian gets another chance at ...
freq,4265,3,18,18,2032,122,NaN,2027,1321,299,3
mean,NaN,NaN,NaN,NaN,NaN,NaN,2013.35932,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,8.81162,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1925.00000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2013.00000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2016.00000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2018.00000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2020.00000,NaN,NaN,NaN,NaN

In [5]:
#Compter les valeurs manquantes
donnees.isna()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,False,False,False,False,False,False,False,False,False,False,False
80117401,False,False,True,False,False,False,False,False,False,False,False
70234439,False,False,True,False,False,False,False,False,False,False,False
80058654,False,False,True,False,False,False,False,False,False,False,False
80125979,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
80000063,False,False,True,False,False,True,False,False,False,False,False
70286564,False,False,True,False,False,True,False,False,False,False,False
80116008,False,False,True,True,True,True,False,True,False,False,False
70281022,False,False,True,False,False,True,False,False,False,False,False
70153404,False,False,True,False,False,True,False,False,False,False,False

In [6]:
#Compter les valeurs manquantes
donnees.isna().sum()

type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [7]:
#Explorer les valeurs manquantes
director=donnees.loc[donnees['director'].isna()]
print(director.type.value_counts())

TV Show    1841
Movie       128
Name: type, dtype: int64

In [8]:
#Explorer les valeurs manquantes
donnees1=donnees.loc[donnees['director'].isna(),:]
donnees1

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azor√≠n, Ver√≥nica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
...,...,...,...,...,...,...,...,...,...,...,...
80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [9]:
donnees1['type'].value_counts()

TV Show    1841
Movie       128
Name: type, dtype: int64

In [10]:
donnees2=donnees.loc[donnees['cast'].isna()]
donnees2

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
80046727,Movie,Rolling Papers,Mitch Dickman,NaN,"United States, Uruguay","September 8, 2017",2015,TV-MA,79 min,Documentaries,"As the newspaper industry takes a hit, The Den..."
80203094,Movie,City of Joy,Madeleine Gavin,NaN,"United States,","September 7, 2018",2018,TV-MA,77 min,Documentaries,Women who've been sexually brutalized in war-t...
80190843,TV Show,First and Last,NaN,NaN,NaN,"September 7, 2018",2018,TV-MA,1 Season,Docuseries,Take an intimate look at the emotionally charg...
81011682,TV Show,Christiane Amanpour: Sex & Love Around the World,NaN,NaN,United States,"September 30, 2018",2018,TV-MA,1 Season,Docuseries,"A contextual, acculturated dive into how adult..."
...,...,...,...,...,...,...,...,...,...,...,...
80036747,TV Show,Pororo - The Little Penguin,NaN,NaN,South Korea,"April 19, 2019",2013,TV-Y,2 Seasons,"Kids' TV, Korean TV Shows","On a tiny island, Pororo the penguin has fun a..."
80190407,TV Show,Murderous Affairs,NaN,NaN,United States,"April 17, 2018",2017,TV-14,3 Seasons,"Crime TV Shows, Docuseries","Mixing interviews with dramatic re-enactments,..."
80231523,TV Show,The Minimighty Kids,NaN,NaN,France,"April 15, 2018",2012,TV-G,2 Seasons,"Kids' TV, TV Comedies","Some have big feet or a sniffly nose, others a..."
80049872,TV Show,Chelsea,NaN,NaN,United States,"April 14, 2017",2017,TV-MA,2 Seasons,"Stand-Up Comedy & Talk Shows, TV Comedies","It's not her first talk show, but it is a firs..."
80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...

In [11]:
#affichage des 10 premieres lignes 
donnees3=donnees2['listed_in'].value_counts()
donnees3[0:10]

Documentaries                                         148
Documentaries, International Movies                    94
Docuseries                                             31
Documentaries, Sports Movies                           20
Crime TV Shows, Docuseries                             19
Documentaries, Music & Musicals                        15
Documentaries, International Movies, Sports Movies     14
Kids' TV                                               14
Docuseries, International TV Shows                     14
Crime TV Shows, Docuseries, International TV Shows     12
Name: listed_in, dtype: int64

In [12]:
#supprimer les lignes dupliqu√©es
donnees.duplicated().value_counts()

False    6233
True        1
dtype: int64

In [13]:
#afficher le dataframe sans les lignes dupliqu√©es
donnees_drop=donnees.drop_duplicates()
donnees_drop

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...
80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [15]:
#Compter les films/s√©ries produits par les √âtats-Unis et par la France

donnees.loc[donnees['country'].isin(['France','United States']),:].shape[0]

2122

In [16]:
#le contenu le plus vieux disponible
#donnees2=donnees.loc[donnees['cast'].isna()]
donnees5=donnees.loc[donnees['release_year']==donnees['release_year'].min(), ['title','release_year']]
donnees5

                                      title  release_year
show_id
81030762  Pioneers: First Women Filmmakers*          1925

In [17]:
# Afficher le film avec la dur√©e la plus longue sur Netflix
donnees6=donnees.loc[donnees['type']=='Movie']
donnees6

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
70304989,Movie,Automata,Gabe Ib√°√±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
...,...,...,...,...,...,...,...,...,...,...,...
80085438,Movie,Frank and Cindy,G.J. Echternkamp,NaN,United States,"April 1, 2016",2007,TV-MA,70 min,Documentaries,Frank was a rising pop star when he married Ci...
80085439,Movie,Frank and Cindy,G.J. Echternkamp,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...",United States,"April 1, 2016",2015,R,102 min,"Comedies, Dramas, Independent Movies",A student filmmaker vengefully turns his camer...
80011846,Movie,Iverson,Zatella Beatty,Allen Iverson,United States,"April 1, 2016",2014,NR,88 min,"Documentaries, Sports Movies",This unfiltered documentary follows the rocky ...
80064521,Movie,Jeremy Scott: The People's Designer,Vlad Yudin,Jeremy Scott,United States,"April 1, 2016",2015,PG-13,109 min,Documentaries,The journey of fashion designer Jeremy Scott f...
80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...

In [18]:
donnees['duration']=pd.Series(donnees6['duration']).str.replace("min", "").astype(int)
donnees

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90.0,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94.0,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,NaN,Kids' TV,"With the help of three human allies, the Autob..."
80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,NaN,Kids' TV,When a prison ship crash unleashes hundreds of...
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99.0,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...
80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",United States,NaN,2015,NR,NaN,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,NaN,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60.0,Movies,Nursery rhymes and original music for children...
70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,NaN,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,NaN,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

###

In [19]:
#11
categories=pd.Series(", ".join(donnees["listed_in"].dropna()).split(", "))

categories.value_counts()
#

International Movies            1927
Dramas                          1623
Comedies                        1113
International TV Shows          1001
Documentaries                    668
TV Dramas                        599
Action & Adventure               597
Independent Movies               552
TV Comedies                      436
Thrillers                        392
Children & Family Movies         378
Romantic Movies                  376
Crime TV Shows                   363
Kids' TV                         328
Stand-Up Comedy                  281
Docuseries                       279
Romantic TV Shows                278
Horror Movies                    262
Music & Musicals                 243
British TV Shows                 210
Sci-Fi & Fantasy                 193
Sports Movies                    157
Reality TV                       153
Korean TV Shows                  132
TV Action & Adventure            126
Spanish-Language TV Shows        117
Anime Series                     117
Classic Movies                    84
TV Mysteries                      69
TV Sci-Fi & Fantasy               68
Science & Nature TV               67
LGBTQ Movies                      60
Movies                            56
Cult Movies                       55
TV Horror                         54
Faith & Spirituality              47
Anime Features                    45
Teen TV Shows                     44
TV Thrillers                      44
Stand-Up Comedy & Talk Shows      42
Classic & Cult TV                 24
TV Shows                          10
dtype: int64

In [20]:
#CORRECTION raphael
#8. Compter les films/s√©ries produits par les √âtats-Unis et par la France
data_film_usa = donnees.loc[donnees.country == 'United States', 'title']
data_film_fr = donnees.loc[donnees.country == 'France', 'title']
print(data_film_usa.shape[0])

2032

In [26]:
#9. Afficher le contenu le plus vieux disponible sur Netflix
data_older = donnees.loc[donnees.release_year == donnees.release_year.min(), ['title', 'release_year']]
print(data_older)

                                      title  release_year
show_id
81030762  Pioneers: First Women Filmmakers*          1925

In [29]:
#10. Afficher le film avec la dur√©e la plus longue sur Netflix
#Afficher les 5 films les + long(juste la dur√©e)
data_movies = donnees.loc[donnees.type == 'Movie']
duree = pd.Series(data_movies['duration']).str.replace(" min", "").astype('int')
print(duree)

AttributeError: Can only use .str accessor with string values!

In [23]:
#Affiche les 5 films avec toutes les infos(version merge & series)
data_movies = donnees.loc[donnees.type == 'Movie']
duree = pd.Series(data_movies['duration']).str.replace("min", "").astype('int').sort_values(ascending=False).head(5)
print(duree)
data_merged = pd.merge(donnees, duree.to_frame(), on='show_id', how='inner')
data_merged
data_film_duration = data_merged.sort_values(by='duration_y', ascending=False).head(5)[["title", "duration_x"]]
print(data_film_duration)

AttributeError: Can only use .str accessor with string values!

In [57]:
#Affiche les 5 films avec toutes les infos
donnees["duration"] = pd.Series(data_movies['duration']).str.replace(" min", "").astype('int').sort_values(ascending=False).head(5)

data_film_duration_2 = donnees.sort_values(by='duration', ascending=False).head(5)
data_film_duration_2

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
80988062,Movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson...",United States,"December 28, 2018",2018,TV-MA,312.0,"Dramas, International Movies, Sci-Fi & Fantasy","In 1984, a young programmer begins to question..."
60002818,Movie,Sangam,Raj Kapoor,"Raj Kapoor, Vyjayanthimala, Rajendra Kumar, La...",India,"December 31, 2019",1964,TV-14,228.0,"Classic Movies, Dramas, International Movies",Returning home from war after being assumed de...
60020906,Movie,Lagaan,Ashutosh Gowariker,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",India,"December 8, 2017",2001,PG,224.0,"Dramas, International Movies, Music & Musicals","In 1890s India, an arrogant British commander ..."
70090035,Movie,Jodhaa Akbar,Ashutosh Gowariker,"Hrithik Roshan, Aishwarya Rai Bachchan, Sonu S...",India,"October 1, 2018",2008,TV-14,214.0,"Action & Adventure, Dramas, International Movies","In 16th-century India, what begins as a strate..."
80175798,Movie,The Irishman,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,"November 27, 2019",2019,R,209.0,Dramas,Hit man Frank Sheeran looks back at the secret...

In [64]:
#Affiche les 5 films avec toutes les infos
donnees["duration"] = pd.Series(data_movies['duration']).str.replace(" min", "").astype('int')
data_film_duration_2 = donnees.sort_values(by='duration', ascending=False).head(5)[["title", "duration"]]
print(data_film_duration_2)

                               title  duration
show_id
80988062  Black Mirror: Bandersnatch     312.0
60002818                      Sangam     228.0
60020906                      Lagaan     224.0
70090035                Jodhaa Akbar     214.0
80175798                The Irishman     209.0